.container {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  flex-wrap: wrap;
}

.min-height {
  min-height: 75vh;
}

.start {
  display: flex;
  justify-content: flex-start;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
